# IDEA #
*.iml
*.ipr
*.iws
**/.idea

# MyEclipse #
*.classpath
*.project
**/.settings
**/bin

# Maven #
**/target

# Java  #
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

# bower #
#**/bower_components

# grails #
**/build
**/.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar






